name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write  # позволяет Action пушить в gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false  # чтобы использовать токен Action

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies (legacy peer deps)
        run: npm install --legacy-peer-deps

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          user_name: 'github-actions[bot]'   # опционально
          user_email: 'github-actions[bot]@users.noreply.github.com'
